*,
*::before,
*::after{
    box-sizing:border-box;
}

body{
    margin: 0px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
}

img{
    max-width:100%;
    height: auto;
    display: block;
}

h1,h2,h3,p{
    margin:0;
}

.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.btn{
    display:inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em 1.25em;
    background: var(--clr-accent,skyblue);
    border-radius: .25em;
    color: var(--clr-accent,whitesmoke;
    font-size: 1.125rem
    font-weight: bold;
}